#logo {
  width: 300px;
  height: 50px;
  position: absolute;
      right: 20px;
    bottom: 20px;
  background-image: url(../img/engagislogo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.standardlength {
  min-height: 650px;
}

.padding {
  padding: 50px 30px !important;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.buttons label {
  height: 120px;
  width: 480px;
  display: inline-block;
  margin: 10px;
  border-radius: 20px;
  padding: 20px;
  font-size: 50px;
  text-transform: uppercase;
  color: white;
  text-indent: 70px;
  font-weight: bold;
}

.buttons label:active, button:active, #submit.activated {
  transform: scale(0.95) !important;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left:30px; top: 30px;
  width: 50px; height: 50px;
  /*background: #f8f8f8;*/
  background-image: url(../img/unselected.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 100%;
}
/* checked mark aspect */
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  left:30px; top: 30px;
  width: 50px; height: 50px;
  /*background: #f8f8f8;*/
  background-image: url(../img/selected.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 100%;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.welcome {
  font-size: 50px;
  color: #999999;
  font-weight: bolder;
  text-transform: uppercase;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.buttons {display: inline-block;}
#attractlabel {  background-color: #0059B2; }
#entertainlabel {  background-color: #2693FF;}
#engagelabel {  background-color: #238C00;}
#transactlabel {  background-color: #D90000;}
#rewardlabel {  background-color: #A300D9;}
#measurelabel {  background-color: #FF8000;}

#submit {
  margin-left: 25px;
  margin-top: 30px;
  background-color: #999999;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
  padding: 20px;
  width: 280px;
  text-transform: uppercase;
}

#submit2 {
  margin-left: 25px;
  margin-top: 230px;
  background-color: #999999;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 20px;
  padding: 20px;
  width: 400px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
}

#thanks {
  font-size: 40px;
  color: #999999;
  font-weight: bolder;
  text-transform: uppercase;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1;
}

#thanksmessage {
  margin-left: 30px;
  color: #333333;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.4;
}

#ezesuite {
  background-image: url(../img/ezesuite.png);
  background-size: contain;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 500px;
  height: 500px;
}