<ion-view view-title="Create">
    <ion-content class="padding" data-ng-controller="SurveyresponsesController">
        <div class="standardlength">
        <div class="">
            <h1 class="welcome bounceInDown animated" style="animation-delay: 0ms;">I want to</h1>
        </div>
            <form id="allbuttons" class="form-horizontal bounceIn animated" style="animation-delay: 500ms;" data-ng-submit="create()" novalidate>
                <!-- <fieldset> -->
                    <!-- <div class="form-group">
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                        </div>
                    </div> -->
                    <div class="buttons tada" style="animation-iteration-count:infinite;">
                        <input type="checkbox" name="wants" data-ng-model="attract" value="attract" id="attract"><label for="attract" id="attractlabel">Attract</label>
                    </div>
                    <div class="buttons tada" style="animation-iteration-count:infinite;">
                        <input type="checkbox" name="wants" data-ng-model="entertain" value="entertain" id="entertain"><label for="entertain" id="entertainlabel">Entertain</label>
                    </div>
                    <div class="buttons tada " style="animation-iteration-count:infinite;">
                        <input type="checkbox" name="wants" data-ng-model="engage" value="engage" id="engage"><label for="engage" id="engagelabel">Engage</label>
                    </div>
                    <div class="buttons tada" style="animation-iteration-count:infinite;">
                        <input type="checkbox" name="wants" data-ng-model="transact" value="transact" id="transact"><label for="transact" id="transactlabel">Transact</label>
                    </div>
                    <div class="buttons tada" style="animation-iteration-count:infinite;">
                        <input type="checkbox" name="wants" data-ng-model="reward" value="reward" id="reward"><label for="reward" id="rewardlabel">Reward</label>
                    </div>
                    <div class="buttons tada" style="animation-iteration-count:infinite;">
                        <input type="checkbox" name="wants" data-ng-model="measure" value="measure" id="measure"><label for="measure" id="measurelabel">Analyse</label>
                    </div>

                    <div class="form-group">
                        <button id="submit" type="submit" class="btn">Submit</button>
                    </div>
    				<div data-ng-show="error" class="text-danger">
    					<strong data-ng-bind="error"></strong>
    				</div>
                <!-- </fieldset> -->
            </form>
        <div id="logo"></div>
        </div>
  </ion-content>
</ion-view>