<ion-view view-title="Create">
    <ion-content class="padding">
<section data-ng-controller="SurveyresponsesController" data-ng-init="list();find()">
    <div class="page-header">
        <h1>Responses <a class="btn btn-lg btn-default" href="/surveyresponses/downloadexcel">Download as Excel</a> <a class="btn btn-lg btn-default" href="/auth/signout">Logout</a></h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="surveyresponse in surveyresponses" data-ng-href="#!/surveyresponses/{{surveyresponse._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Responded on
				<span data-ng-bind="surveyresponse.created | date:'medium'"></span>

			</small>
			<h4 class="list-group-item-heading" data-ng-bind="surveyresponse.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!surveyresponses.$resolved || surveyresponses.length">
    	No Surveyresponses yet, why don't you <a href="/#!/surveyresponses/create">create one</a>?
    </div>
</section>
  </ion-content>
</ion-view>