<ion-view view-title="Create">
<ion-content class="padding">
<div class="standardlength">
  <div class="row">
  <div class="col" style="flex: 1 1 40%;">
      <h1 id="thanks" class="bounceInDown animated" style="animation-delay: 500ms;">Thanks!<br>
        We’ll send results out<br>
        after the show.
      </h1>
      <p id="thanksmessage" class="bounceInDown animated" style="animation-delay: 1000ms;">
        Did you know the Engagis Eze Suite™<br>
        offers technology across the<br>
        entire pathway to purchase?<br>
        Ask us how it works!<br><br>
      </p>
      <a id="submit2" ng-click="clearResponses()" href="#!/surveyresponses/create" class="bounceInUp animated" style="animation-delay: 1500ms;">SUBMIT ANOTHER RESPONSE</a>
    </div>
    <div class="col" style="flex: 1 1 60%;">
      <div id="ezesuite" class="rotateIn animated"></div>
    </div>
  </div>
  <div id="logo"></div>
</div>
</ion-content>
</ion-view>