<ion-view view-title="Create">
    <ion-content class="padding">
<section data-ng-controller="SurveyresponsesController" data-ng-init="findOne()">
	<div class="page-header">
        <h1><a class="btn btn-lg btn-default" href="#!/surveyresponses">Back</a> Response #{{surveyresponse._id}} <a class="btn btn-lg btn-default" href="/auth/signout">Logout</a></h1>
   </div>
	<div class="page-header">
		<h4>Attract: {{surveyresponse.attract}}</h4>
		<h4>Entertain: {{surveyresponse.entertain}}</h4>
		<h4>Engage: {{surveyresponse.engage}}</h4>
		<h4>Transact: {{surveyresponse.transact}}</h4>
		<h4>Reward: {{surveyresponse.reward}}</h4>
		<h4>Measure: {{surveyresponse.measure}}</h4>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == surveyresponse.user._id))">
		<a class="btn btn-primary" href="/#!/surveyresponses/{{surveyresponse._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Responded on
			<span data-ng-bind="surveyresponse.created | date:'medium'"></span>
		</em>
	</small>
</section>
</ion-content>
</ion-view>